@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.header {
  composes: header from "part:@sanity/dashboard/widget-styles";
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.error {
  color: var(--state-danger-color);
  padding: var(--medium-padding);
}

.content {
  position: relative;
  padding: var(--medium-padding);
  border-top: 1px solid var(--hairline-color);
  min-height: 66px;
}

.sites {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #8A4BAF !important;
  text-decoration: none;
}

.defaultButton {
  background-color: #663399;
  border-color: #663399;
  border-radius: 4px;
  color: white;
  height: 2.5rem;
  width: 100%;
}

.defaultButton:hover {
  background-color: #542C85;
  cursor: pointer;
}

.poweredBy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.poweredBy p {
  margin-right: 5%;
}
