@import 'part:@sanity/base/theme/variables-style';

.root {
  align-items: center;
  display: flex;
}

ul {
  padding-left: 0;
}

.link {
  color: #8A4BAF !important;
  margin-top: 1rem !important;
}

.status {
  flex: 1;
  margin: auto;
  padding: var(--small-padding) var(--medium-padding) var(--small-padding) var(--medium-padding);
}

.error {
  color: var(--state-danger-color);
}

.title {
  color: #232129;
  font-weight: 400;
  margin: 0 0 calc(var(--small-padding) / 2);
}

.actions {
  padding: var(--small-padding) var(--medium-padding);
  display: flex;
}

.defaultButton {
  background-color: #663399;
  border-color: #663399;
  border-radius: 4px;
  color: white;
  height: 2.5rem;
}

.defaultButton:hover {
  background-color: #542C85;
  cursor: pointer;
}

.instanceStatus {
  font-size: 0.75rem;
  padding: 0.15rem 0.5rem;
  margin: 0 0.75rem;
  color: #663399;
  background-color: #FCFAFF;
}
